body {
    background-color: rgba(112, 90, 44, 0.322);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
     min-height: 400px;
     min-width: 400px;
}

h1 {

    font-size: 1.4em;
    text-transform: uppercase;

}
h3{
    color:blueviolet;
    text-transform: uppercase;
}

li {
    text-transform: capitalize;
    display: inline;
    padding: 5px ;
    color:brown
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

.link a {
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.rem;
    padding: 5px;
    color: aquamarine;
    background-color: dimgrey;
    margin: 20px auto;
    flex: 2;
    border-radius: 20px;

}
img{
    min-height: 200px;
    min-width: 200px;
   
}
.chicken{
    display: flex;
    padding:10px;
}
.biriyani{
    display: flex;
    padding:10px;
}


.link a:hover {
    color: orange;
}
.link a:focus{
    color:pink;
}
.link a:active{
    color: crimson;
}

.link {
    text-align: right;
    padding: 05px;
    margin: 20px auto;

}

p {
    /* display: flex; */
    text-align: justify;
    padding: 05px;
    text-indent: 2em;

}